
body{
	background-image: linear-gradient(to left, #051931, #141224, #160b18, #10050c, #000000);
	display:flex;
	justify-content: center;
	align-items: center;
}
#container{
	width: 400px;
	background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);;
	height: 200px;
	display:flex;
	justify-content: center;
	align-items: center;

}
button{
	width: 50px;
	height: 50px
}
#purple_button{
    background-color: purple;
}

#green_button{
    background-color: green;
}

#yelow_button{
    background-color: yellow;
}
button:hover{
    cursor: pointer;
}